.eightText {
  color: #1c103b !important;
  font-family: Lato !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 25px !important;
}
