.threeP {
  color: #7c58d3 !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 19px !important;
}

.threeH1 {
  color: #0b0417 !important;
  font-size: 46px !important;
  font-style: normal !important;
  font-weight: 800 !important;
  line-height: 46px !important;
}
